<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>项目列表</title>
  </head>
  <body>
    <button onclick="replace('/project1')">project1(普通html页面)</button>
    &nbsp; &nbsp; &nbsp;
    <button onclick="replace('/project2')">project2(普通html页面)</button>
    &nbsp; &nbsp; &nbsp;
    <button onclick="replace('/project3')">project3(多路由的SPA)</button>

    <br />
    <br />
    <h1>
      同端口下部署多个应用，那么需要将所有静态文件地址前面添加{publicPath}
    </h1>
    <h3>这个publicPath就是该项目的root文件夹</h3>
  </body>

  <script>
    function replace(url) {
      window.location.replace(window.location.origin + url);
    }
  </script>
</html>
